# Network
ALGO_NETWORK=testnet
ALGOD_ADDRESS=https://testnet-api.algonode.cloud
ALGOD_TOKEN=
INDEXER_ADDRESS=https://testnet-idx.algonode.cloud
INDEXER_TOKEN=

# Admin signer (backend-only)
ALGO_ADMIN_MNEMONIC=

# Optional for metadata upload helper
PINATA_JWT=
